.v-label {
	opacity: 100;
}

main {
	background-color: lightgray;
	color: white;
}

.v-container {
    height: 100%;
}

.v-window{
    height: 100%;
}

.view-header-label {
    color: gray;
    margin-bottom: 1em;
}

#home-view-container {
    color: black;
    background-color: white;
    margin: auto;
    padding: 20px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px gray;
    width: 100%;

}

.tool-btn {
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px 5px 0px 0px;
}

.tool-btn-selected {
    background: forestgreen;
    color: white;
    border: 2px solid black;
     border-radius: 5px 5px 0px 0px;
}

.control-btn-group {
    margin-top: 10em;
    margin-left: 1em;
}

.control-btn {
    margin-right: 1em;
}

.tool-progress-bar {
    margin-top: 1em;
}

.sign-in-btn {
    margin-left: auto;
    margin-right: 10em;
}

.username-label {
    margin-left: auto;
}

.hidden {
	opacity: 0;
}

